// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.user_infos{
  //margin-top: 70px;
  background: #262232;
  padding: 5px 10px;
  margin-left:-2px;
}

tr.user_tr{
  cursor:pointer;
}

tr.done-true{
  background: #FFF;

  color: darkgreen;

}

