<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv="content-type" />
    </head>
    <body>
        <h1>Bienvenu sur le blog de Léticia: <%= @user.username  %></h1>
        <h2>Ton login est: <%= @user.email %> </h2>
        <p>Pour te connecter, cliques sur ce lien: <%= @url %></p>
    </body>
</html>